
{% extends "base.html" %}

<title>{% block title %}{{ block.super }}  | A Gaming Review Website{% endblock %}</title>
{% block content %}

<div class="cycle-slideshow"
     data-cycle-fx="scrollHorz"
     data-cycle-speed="1000"
     data-cycle-timeout="2000"
     data-cycle-manual-fx="scrollHorz"
     data-cycle-manual-speed="400">
    {% for obj in slideshow_list %}
    <img src="{{obj.imgs.url}}" alt="Thumbnail">
    {% endfor %}
</div><br>

<div class="news_highlights">
    {% for obj in news_list %}
    <div class="sub_highlights">
        <a href="{% url 'news' %}#{{obj.title}}">
            <img src="{{obj.imgs.url}}" alt="Thumbnail">
            <label>{{obj.info}}</label>
        </a>
    </div>

    {% endfor %}
</div>

    <hr style="border-top: dotted 1px;width:90%;">
<br>
<div class="latest_reviews_label"><a href="{% url 'reviews' %}">Latest Reviews</a></div>
<div class="latest_reviews">

    {% for obj in review_list %}

    <div class="boxes">
        <a href="{% url 'gamereview' slug=obj.slug %}"> <img src="{{obj.imgs.url}}" alt="{{obj.title}}"></a>
            {% if user.is_staff and obj.owner == user %}
            <form method="post" action="{% url 'edit' slug=obj.slug %}">{% csrf_token %}
                <button id="edit" type="submit"><img src="/static/images/buttons/edit.png"> </button>
            </form>
            <form method="post" action="{% url 'delete' slug=obj.slug %}">{% csrf_token %}
                <button onclick="return confirm('Are you sure you want to delete this?')" id="delete" type="submit"><img src="/static/images/buttons/delete.png"> </button>
            </form>
            {% endif %}
       <h3><a href="/gamereview/{{obj.slug}}/"> {{obj.title}}</a></h3>
			{% if obj.category == 'pc' %}
			<div style="margin-left:25px;float:left;text-transform:uppercase;text-align:center;font-size:16px;width:25px;height:20px;background:red;color:white">{{obj.category}}</div>
            <div style="display:inline-block;margin-left:10px;"><small>{{obj.timestamp}}</small></div>
			{% elif obj.category == 'android' %}
            <div style="margin-left:25px;float:left;text-transform:uppercase;text-align:center;font-size:16px;width:80px;height:20px;background:#08AF19;color:white">{{obj.category}}</div>
            <div style="display:inline-block;margin-left:10px;"><small>{{obj.timestamp}}</small></div>
			{% endif %}
        <p>{{obj.info}}</p>
    </div>

    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if review_list.has_previous %}
            <a href="?page=1"><button  class="pagination-btn"> &laquo; first</button></a>
            <a href="?page={{ review_list.previous_page_number }}"><button  class="pagination-btn">previous</button></a>
        {% endif %}

        <span class="current">
            Page {{ review_list.number }} of {{ review_list.paginator.num_pages }}.
        </span>

        {% if review_list.has_next %}
            <a href="{% url 'home' %}?page={{ review_list.next_page_number }}"><button  class="pagination-btn"> next</button></a>
        <a href="{% url 'home' %}?page={{ review_list.paginator.num_pages }}"><button  class="pagination-btn">last &raquo;</button></a>
        {% endif %}
    </span>
</div>

</div>
<div class="sidebar">
    <label><a href="{% url 'topgames' %}">Top Upcoming Games</a></label>

    {% for obj in topgames_list %}

    <a href="{% url 'topgames' %}#{{obj.title}}"> <div style="margin-top:1px;background-image: url({{obj.imgs.url}});"></div></a>
    
    {% endfor %}
    <a href="{% url 'topgames' %}">See all upcoming games</a>
</div>

{% endblock %}

