
{% extends "base.html" %}

<title>{% block title %}Latest News | {{ block.super }}{% endblock %}</title>
{% block content %}


<div class="cycle-slideshow"
     data-cycle-fx="scrollHorz"
     data-cycle-speed="1000"
     data-cycle-timeout="2000"
     data-cycle-manual-fx="scrollHorz"
     data-cycle-manual-speed="400">
    {% for obj in slideshow_list %}
    <img src="{{obj.imgs.url}}" alt="Thumbnail">
    {% endfor %}

</div><br>
<div class="latest_reviews_label"><a href="/news">News</a></div>
<br>
<div class="section">

    {% for obj in news_list %}
    <div id="{{obj.title}}">
        {% if user.is_staff and obj.owner == user %}

     <form method="post" action="{% url 'news-update' slug=obj.slug %}">{% csrf_token %}
        <button id="edit" type="submit"><img src="/static/images/buttons/edit.png"> </button>
    </form>
    <form method="post" action="{% url 'news-delete' slug=obj.slug %}">{% csrf_token %}
        <button onclick="return confirm('Are you sure you want to delete this?')" id="delete" type="submit"><img src="/static/images/buttons/delete.png"> </button>
    </form>

        {% endif %}
        <img src="{{obj.imgs.url}}" alt="Thumbnail">
        <h1>{{obj.title}}</h1>
        {% autoescape off %}
        <p>{{obj.content}}</p>
        {% endautoescape %}
    </div><hr style="color: black;background-color: black;height: 2px;"/>
    <br>
    {% endfor %}

</div>
<div class="sidebar">
     <label><a href="{% url 'topgames' %}">Top Upcoming Games</a></label>

    {% for obj in topgames_list %}

    <a href="{% url 'topgames' %}#{{obj.title}}"> <div style="margin-top:1px;background-image: url({{obj.imgs.url}});"></div></a>
    
    {% endfor %}
    <a href="{% url 'topgames' %}">See all upcoming games</a>
</div>
{% endblock %}