{% extends 'base.html' %}

<title>{% block title %}Create News Post | {{block.super}} {% endblock %}</title>
{% block content %}

{% if formerrors %}
{{ errors }}
{% endif %}
<br>
<br>
{% if user.is_staff %}
<div class="review-form">
<form method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div id="title">
        <label>Create News Post</label>
    </div>
    <div class="field">
        <h4>Title</h4>
        <input type="text" name="title" value="{{object.title}}" required>
    </div>
    <div class="field">
        <h4>Upload Image</h4>
        <input type="file" name="imgs" value="{{imgs}}" required>
    </div>
    <div class="field">
        <h4>Info</h4>
        <input type="text" name="info" value="{{form.info.initial}}" required>
    </div>

    <div class="field">
        <h4>Content</h4>
        <textarea name="content" datatype="{{content}}" placeholder="Enter content with tags, eg..<h1>Hello</h1>">{{form.content.initial}}</textarea>
    </div>
    <button class="btn btn-danger btn-sx" type="submit">Save</button>
    <br>
    <br>
</form>
</div>
{% else %}
<div style="height:360px;"><h1 style="text-align:center">You are not allowed to view this page</h1></div>
{% endif %}

<br>
<br>

{% endblock %}